body{
    background-color: #747d8c;
    display: flex;
    justify-content: center;
    align-items: center;
}



.login{
    border: none;
    border-radius: 20px;
    width: 30%;
    padding: 10px;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

h1{
    font-family: verdana;
    margin-top: 40px;
}

.login-box{
    width: 80%;
    height: 95%;
    padding: 10px;
}


label{
    font-family: Trebuchet MS;
    font-size: 19px;
    font-weight: bold;
    
}
.login-box input{
    width: 90%;
    height: 30px;
    margin-top: 10px;
    background: transparent;
    border: 2px solid rgba(66, 59, 59, 0.266);
    border-radius: 20px;
    padding-left: 10px;
    font-size: 14px;
}

.btn{
    width: 95%;
    height: 35px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 15px;
}